# CERN Electron Mass Prediction

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

# Load and Check Data

## Data set Features

- `Run`, `Lumi`, `Event`: Identifiers of each recorded event  
- `MR`: Razor mass scale variable  
- `Rsq`: Razor variable (RÂ²), sensitive to invisible energy  
- `E1`, `Px1`, `Py1`, `Pz1`: Four-vector of the leading megajet  
- `E2`, `Px2`, `Py2`, `Pz2`: Four-vector of the subleading megajet  
- `HT`: Scalar sum of jet transverse momenta  
- `MET`: Missing transverse energy  
- `nJets`: Number of jets with pT > 40 GeV  
- `nBJets`: Number of b-tagged jets with pT > 40 GeV

In [4]:
filepath = 'Data\dielectron.csv'
Cern_df = pd.read_csv(filepath)
Cern_df.head()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,147115,366639895,58.71410,-7.31132,10.531000,-57.29740,12.82020,-2.20267,2.17766,1,11.2836,-1.032340,-1.88066,-11.0778,2.14537,-2.344030,-2.072810,-1,8.94841
1,147115,366704169,6.61188,-4.15213,-0.579855,-5.11278,4.19242,-1.02842,-3.00284,-1,17.1492,-11.713500,5.04474,11.4647,12.75360,0.808077,2.734920,1,15.89300
2,147115,367112316,25.54190,-11.48090,2.041680,22.72460,11.66100,1.42048,2.96560,1,15.8203,-1.472800,2.25895,-15.5888,2.69667,-2.455080,2.148570,1,38.38770
3,147115,366952149,65.39590,7.51214,11.887100,63.86620,14.06190,2.21838,1.00721,1,25.1273,4.087860,2.59641,24.6563,4.84272,2.330210,0.565865,-1,3.72862
4,147115,366523212,61.45040,2.95284,-14.622700,-59.61210,14.91790,-2.09375,-1.37154,-1,13.8871,-0.277757,-2.42560,-13.6708,2.44145,-2.423700,-1.684810,-1,2.74718

In [6]:
Cern_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Run     100000 non-null  int64
 1   Event   100000 non-null  int64
 2   E1      100000 non-null  float64
 3   px1     100000 non-null  float64
 4   py1     100000 non-null  float64
 5   pz1     100000 non-null  float64
 6   pt1     100000 non-null  float64
 7   eta1    100000 non-null  float64
 8   phi1    100000 non-null  float64
 9   Q1      100000 non-null  int64
 10  E2      100000 non-null  float64
 11  px2     100000 non-null  float64
 12  py2     100000 non-null  float64
 13  pz2     100000 non-null  float64
 14  pt2     100000 non-null  float64
 15  eta2    100000 non-null  float64
 16  phi2    100000 non-null  float64
 17  Q2      100000 non-null  int64
 18  M       99915 non-null   float64
dtypes: float64(15), int64(4)
memory usage: 14.5 MB

In [9]:
Cern_df.isna().sum()

Run       0
Event     0
E1        0
px1       0
py1       0
pz1       0
pt1       0
eta1      0
phi1      0
Q1        0
E2        0
px2       0
py2       0
pz2       0
pt2       0
eta2      0
phi2      0
Q2        0
M        85
dtype: int64

only 85 nulls at M so we will drop this to not bother

In [11]:
Cern_df = Cern_df.dropna()

In [12]:
Cern_df.describe()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
count,99915.000000,9.991500e+04,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000,99915.000000
mean,147935.420007,4.957471e+08,36.460107,0.135858,0.183211,-1.509100,14.418195,-0.064143,0.022002,-0.005495,44.028549,-0.003442,0.125963,-1.591798,13.804597,-0.072885,0.021772,-0.004234,30.019521
std,920.315526,4.037736e+08,41.225336,13.409322,13.474668,51.625332,12.391213,1.462626,1.799506,0.999990,46.761747,13.130364,13.171806,61.455194,12.463948,1.738660,1.816991,0.999996,25.255847
min,146511.000000,6.414000e+03,0.377928,-250.587000,-126.079000,-840.987000,0.219629,-4.165380,-3.141580,-1.000000,0.472500,-233.730000,-145.651000,-655.396000,0.026651,-7.064790,-3.141580,-1.000000,2.000080
25%,147114.000000,2.023716e+08,8.472775,-5.237190,-5.281100,-15.898650,3.773670,-1.284650,-1.526580,-1.000000,11.065550,-4.793870,-4.604685,-22.062650,3.737825,-1.892965,-1.556060,-1.000000,12.445200
50%,147929.000000,3.902917e+08,21.740200,0.141661,0.100544,-0.313360,12.972900,-0.061352,0.035015,-1.000000,25.291400,-0.035653,0.084512,-0.692463,11.690800,-0.136708,0.027453,-1.000000,21.283100
75%,149011.000000,6.339332e+08,50.059250,5.718920,5.652355,13.234400,20.026050,1.145405,1.562680,1.000000,66.983350,4.818905,5.063075,19.041800,19.601700,1.769300,1.597040,1.000000,39.025050
max,149182.000000,1.791247e+09,850.602000,134.539000,147.467000,760.096000,265.578000,2.622970,3.141420,1.000000,948.375000,227.330000,166.283000,935.558000,281.654000,3.060550,3.141290,1.000000,109.999000